/* CABEÇALHO */

.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 33px;
}

/* CATEGORIAS */

.categorias__lista {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

/* DESTAQUES */

.destaques {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
}

.destaques__barra {
    flex-grow: 1;
}

/* EVENTOS */

.eventos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1.5rem;
    row-gap: 1rem;
}

.eventos__item {
    flex-grow: 1;
    max-width: 400px;
}

/* AGENDA */

.agenda__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 1rem;
    column-gap: 1.5rem;
}

.agenda__item {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.agenda__informacoes {
    width: 50%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.agenda__atracao {
    width: 50%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
}

/* RODAPÉ */

.rodape {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rodape__logo {
    align-self: end;
}


@media (min-width: 720px) {

    /* CABEÇALHO */

    .menu {
        column-gap: 75px;
    }

    /* CATEGORIAS */

    .categorias__lista {
        flex-wrap: wrap;
        column-gap: 1.5rem;
        row-gap: 1rem;
    }

    /* EVENTOS */

    .eventos__lista {
        justify-content: end;
    }

    /* AGENDA */ 
    .agenda__lista {
        justify-content: end;
    }

    .agenda__botao {
        margin-left: 300px;
    }
}

@media (min-width: 1140px) {

    /* CABEÇALHO */
    
    .menu {
        column-gap: 105px;
        flex-wrap: nowrap;
    }

    .menu__item:nth-child(1) {
        order: 1;
    }

    .menu__item:nth-child(2) {
        order: 3;
    }

    .menu__item:nth-child(3) {
        order: 4;
    }

    .menu__item:nth-child(4) {
        order: 5;
    }

    .menu__item:nth-child(5) {
        order: 2;
    }

    /* AGENDA */

    .agenda__lista {
        justify-content: center;
    }

    .agenda__item {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .agenda__informacoes, .agenda__atracao {
        width: 100%;
    }

    .agenda__botao {
        margin-left: 0;
    }
     
}