@charset "UTF-8";

.topicos {
    background: var(--background_gradiente);
    padding: 1.5rem 1rem;
    text-align: center;
    border-top: 1rem solid var(--cor_maisclara);
}

.topicos__titulo {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--cor_maisclara);
    margin-bottom: 2rem;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.topicos__lista__item {
    background-color: var(--cor_secundaria);
    padding: 1rem 1.5rem;
}

.topicos__lista__item > a {
    font-weight: 700;
    color: var(--cor_maisclara);
    text-decoration: none;
    font-size: 0.75rem;
}